{% extends 'base.html.twig' %}

{% block title %}Hello SMSController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h3>The all SMS of {{ number }}:</h3>

        <div class="example-wrapper">
            {% for sms in all_sms %}
                <h4>{{ loop.index }}: {{ sms }}</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
